.card{
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2);
}

.card:focus{
    background-color: #E7D7C1 !important;
    outline: none !important;
    position: relative;
    bottom: 5px;
    box-shadow: 0 0px 3px 0 rgba(0,0,0,0.14),
    0 8px 8px 2px rgba(0,0,0,0.12),
    0 4px 20px 0 rgba(0,0,0,0.2);
}
.card>h5{
    margin: 15px 0px;
}

.companyWrapper{
    margin-left: 0px !important;
    margin-right: 0px !important;
}