.selectorWrapper{
    padding: 0px !important;
}

.reportDetailWrapper{
    margin-top: 15px;
    padding: 20px !important;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2);
}

.btnColor{
    background-color: #8C1C13;
    font-family:'Saira Condensed', sans-serif ;
}
.btnColor:hover{
    background-color: #BF4342;
}

.alignEnd{
    width: 100%;
    text-align: end;
}

.textCenter{
    text-align: center;
    margin-top: 50px;
}

