.back{
background-color: #E7D7C1;
margin: 0px;
padding: 15px;
width: 100%;
}

.name{
    text-align: center;
}
.info{
    font-weight: bold;
}

.description {
    font-style: italic;
    font-weight: bold;
}